<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
    <nav th:replace="fragments :: navigation"></nav>

    <h1>Add a Park</h1>
    <span class="error" th:if="${mustlogin}">
        <a href="/">Click here to Login</a>
        <p th:text="${mustlogin}"></p>
    </span>

    <form method="post" style="max-width:600px;" th:object="${skatePark}">
        <div class="form-group">
            <label th:for="name">Name</label>
            <input class="form-control" th:field="*{name}" />
            <span th:errors="*{name}" style="font-size: 18px;color:red;"></span>
        </div>
        <div class="form-group">
            <label th:for="description">Description</label>
            <input class="form-control" th:field="*{description}" />
            <span th:errors="*{description}" style="font-size: 18px;color:red;"></span>
        </div>
        <div class="form-group">
            <label th:for="address">Address</label>
            <input class="form-control" th:field="*{address}" />
            <span th:errors="*{address}" style="font-size: 18px;color:red;"></span>
        </div>
        <div class="form-group">
            <label th:for="helmet">Helmet</label>
            <input class="form-inline" type="radio" name="helmet" value="Yes" th:field="*{helmet}" />Yes
            <input class="form-inline" type="radio" name="helmet" value="No" th:field="*{helmet}" />No<br/>
        </div>
        <div class="form-group">
            <label th:for="cost">Cost</label>
            <input class="form-inline" type="radio" name="cost" value="Yes" th:field="*{cost}" />Yes
            <input class="form-inline" type="radio" name="cost" value="No" th:field="*{cost}" />No<br/>
        </div>
        <div class="form-group">
            <label th:for="lights">Lights</label>
            <input class="form-inline" type="radio" name="lights" value="Yes" th:field="*{lights}" />Yes
            <input class="form-inline" type="radio" name="lights" value="No" th:field="*{lights}" />No<br/>
        </div>
        <div class="form-group">
            <label th:for="indoors">Indoors</label>
            <input class="form-inline" type="radio" name="indoors" value="Yes" th:field="*{indoors}" />Yes
            <input class="form-inline" type="radio" name="indoors" value="No" th:field="*{indoors}" />No<br/>
        </div>
        <input type="submit" value="Add Park" />
    </form>

</body>
</html>