<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">

<div th:replace="fragments :: navigation"></div>

<table class="table" th:object="${aPark}">
    <tr>
        <th> Name </th>
        <td th:text="*{name}"></td>
    </tr>
    <tr>
        <th> Description </th>
        <td th:text="*{description}"></td>
    </tr>
    <tr>
        <th> Address </th>
        <td>
            <a th:href="@{'http://www.maps.google.com/?q=' + ${aPark.address}}" th:text="*{address}"
               th:target="_blank"></a>
        </td>
    </tr>
    <tr>
        <th>Helmet</th>
        <td th:text="*{helmet}"></td>
    </tr>
    <tr>
        <th>Cost</th>
        <td th:text="*{cost}"></td>
    </tr>
    <tr>
        <th>Lights</th>
        <td th:text="*{lights}"></td>
    </tr>
    <tr>
        <th>Indoors</th>
        <td th:text="*{indoors}"></td>
    </tr>
</table>
<div th:unless="${aPark.imgpath}">
    <br/>
    <a th:href="@{'/upload/park/' + ${aPark.Id}}"
       class="btn buttonhover">Add an Image</a>
</div>

<div th:if="${aPark.imgpath}">
    <img class="img-responsive" th:src="'http://localhost:8080/files/' + ${aPark.imgpath}"/>
    <br/>
    <br/>
    <a th:if="${delete}" th:href="@{'/remove/park/' + ${aPark.Id}}" class="btn buttonhover">Remove
        your image</a>
</div>
<br/>
<div id="map" style="width:60%;height:300px;"></div>

<script th:inline="javascript">
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {zoom: 14});
        var geocoder = new google.maps.Geocoder;

        var location = /*[[${aPark.address}]]*/'default'

        geocoder.geocode({'address': location}, function(results, status) {
          if (status === 'OK') {
            map.setCenter(results[0].geometry.location);
            new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
            });
          } else {
            window.alert('Geocode was not successful for the following reason: ' +
                status);
          }
        });
      }
    </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHu2rc07DmlSD9dUSQAoevnexR8DWXTgE&amp;callback=initMap">
</script>

<br/>
<br/>
<form method="post">
    <label for="comment">Add a comment</label>
    <br/>
    <textarea row="14" cols="50" name="comment" id="comment"></textarea>
    <br/>
    <input class="btn buttonhover" type="submit"/>
</form>

<h4 th:if="${comments}" th:text="Comments"></h4>
<table th:if="${comments}" class="table">
    <tr th:each="comment : ${comments}">
        <td th:text="${comment.user.username}"></td>
        <td th:text="${comment.comment}"></td>
        <td>
            <form th:if="${comment.user.username == user}" method="post">
                <input type="hidden" name="deletecom" th:value="${comment.id}"/>
                <input type="submit" class="buttonhoverComment" value="delete"
                       onclick="return confirm('Are you sure?')"/>
            </form>
        </td>
    </tr>
</table>

<br/>
<span>
<a th:if="${delete}" th:href="@{'/edit/park/' + ${parkId}}" class="btn buttonhover">Edit
    This Park</a>
<a th:if="${delete}" th:href="@{'/delete/park/' + ${parkId}}" class="btn buttonhover"
   onclick="return confirm('Are you sure?')">Delete This Park</a>
</span>
<br/>
<br/>
</body>
</html>