<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">
<div th:replace="fragments :: navigation"></div>


<table th:object="${aPark}">
    <tr>
        <th> Name </th>
        <td th:text="*{name}"></td>
    </tr>
    <tr>
        <th> Description </th>
        <td th:text="*{description}"></td>
    </tr>

    <tr>
        <th> Address </th>
        <td th:text="*{address}"></td>
    </tr>
    <tr>
        <th>Helmet</th>
        <td th:text="*{helmet}"></td>
    </tr>
    <tr>
        <th>Cost</th>
        <td th:text="*{cost}"></td>
    </tr>
    <tr>
        <th>Lights</th>
        <td th:text="*{lights}"></td>
    </tr>
    <tr>
        <th>Indoors</th>
        <td th:text="*{indoors}"></td>
    </tr>
</table>

</body>
</html>