<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body class="container">
<div th:replace="fragments :: navigation"></div>
<br/>
<br/>
<h1 th:inline="text" class="center">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<br/>
<br/>
<div if="spots" class="center">
    <h3>My Spots Uploaded</h3>

    <li th:each="spot : ${spots}" class="center"><a th:href="@{'spot/' + ${spot.id}}" th:text="${spot.name}"></a></li>
</div>
<br/>
<div if="parks" class="center">
    <h3>My Parks Uploaded</h3>

    <li th:each="park : ${parks}"><a th:href="@{'park/' + ${park.id}}" th:text="${park.name}"></a></li>
</div>
<br/>
<br/>
<form th:action="@{/logout}" method="post" class="center">
    <input class="btn buttonhover" type="submit" value="Sign Out"/>
</form>


</body>
</html>