<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

    <nav th:replace="fragments :: navigation"></nav>

    <h1>Add a Spot</h1>

    <form method="post" style="max-width:500px;" th:object="${skateSpot}">

        <div class="form-group">
            <label th:for="name">Name</label>
            <input class="form-control" th:field="*{name}" />
            <span th:errors="*{name}" style="font-size: 18px;color:red;"></span>
        </div>
        <div class="form-group">
            <label th:for="description">Description</label>
            <input class="form-control" th:field="*{description}" />
            <span th:errors="*{description}" style="font-size: 18px;color:red;"></span>
        </div>
        <div class="form-group">
            <label th:for="address">Address</label>
            <input class="form-control" th:field="*{address}" />
            <span th:errors="*{address}" style="font-size: 18px;color:red;"></span>
        </div>
        <div class="form-group">
            <label th:for="security">Security</label>
            <input class="form-inline" type="radio" name="security" value="Yes" th:field="*{security}" />Yes
            <input class="form-inline" type="radio" name="security" value="No" th:field="*{security}" />No<br/>
            <span th:errors="*{security}" style="font-size: 18px;color:red;"></span>
        </div>
        <div class="form-group">
            <label th:for="spotType">Spot Type (Select at least one)</label>
            <span th:if="${check}" th:text="${check}" style="font-size: 18px;color:red;"></span>
            <ul>
                <li><input type="checkbox" name="spotTypes" value="1" /> Rails / Ledges</li>
                <li><input type="checkbox" name="spotTypes" value="2" /> Stairs / Gaps</li>
                <li><input type="checkbox" name="spotTypes" value="3" /> Manuals / Other</li>
            </ul>
        </div>
        <input type="submit" value="Add Spot"/>
    </form>


</body>
</html>
