<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
    <div th:replace="fragments :: navigation"></div>
    <h1>Add a Spot</h1>

        <form method="post">
            <table>
            <tr>
                <td>Name <input type="text" name="name"/></td>
            </tr>
            <tr>
                <td>Description<textarea rows="2" cols="30" type="text" name="description"/></td>
            </tr>
            <tr>
                <td>Address<input type="text" name="address"/></td>
            </tr>
            <tr>
                <td>Security<input type="radio" name="security" value="true"/>Yes<input type="radio" name="security" value="false"/>No</td>
            </tr>
            <tr>
                <td><input type="submit"/>submit</td>
            </tr>
            </table>
        </form>

</body>
</html>
