<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">

</head>

<body class="container">
<div th:replace="fragments :: navigation"></div>

<div th:replace="fragments :: sortbytypes"></div>

<br/>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<table class="table" th:object="${aSpot}">
    <tr>
        <th> Name </th>
        <td th:text="*{name}"></td>
    </tr>
    <tr>
        <th> Description </th>
        <td th:text="*{description}"></td>
    </tr>

    <tr>
        <th> Address </th>
        <td>
            <a th:href="@{'http://www.maps.google.com/?q=' + ${aSpot.address}}" th:text="*{address}"
               th:target="_blank"></a>
        </td>
    </tr>
    <tr>
        <th>Security</th>
        <td th:text="*{security}"></td>
    </tr>
    <tr>
        <th>Spot Type</th>
        <td th:text="${types}"></td>
    </tr>
</table>

<div th:unless="${aSpot.imgpath}">
    <br/>
    <a th:href="@{'/upload/spot/' + ${aSpot.Id}}"
       class="btn btn-default btn-md active" role="button">Add an Image</a>
</div>

<div th:if="${aSpot.imgpath}">
    <img class=".img-responsive" th:src="'http://localhost:8080/files/' + ${aSpot.imgpath}"/>
    <br/>
    <br/>
    <a th:if="${delete}" th:href="@{'/remove/spot/' + ${aSpot.Id}}" class="btn btn-default btn-md active" role="button">Remove
        This image</a>
</div>
<br/>
<div id="map" style="width:60%;height:300px;"></div>

    <script th:inline="javascript">
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {zoom: 14});
        var geocoder = new google.maps.Geocoder;

        var location = /*[[${aSpot.address}]]*/'default'

        geocoder.geocode({'address': location}, function(results, status) {
          if (status === 'OK') {
            map.setCenter(results[0].geometry.location);
            new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
            });
          } else {
            window.alert('Geocode was not successful for the following reason: ' +
                status);
          }
        });
      }
    </script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHu2rc07DmlSD9dUSQAoevnexR8DWXTgE&amp;callback=initMap">
</script>


<form method="post">
    <textarea row="4" cols="50" name="comment"></textarea>
    <input type="submit"/>
</form>


<br/>
<a th:if="${delete}" th:href="@{'/edit/spot/' + ${spotId}}" class="btn btn-default btn-md active" role="button">Edit
    This Spot</a>
<br/>
<br/>
<a th:if="${delete}" th:href="@{'/delete/spot/' + ${spotId}}" class="btn btn-default btn-md active"
   role="button" onclick="return confirm('Are you sure?')">Delete This Spot</a>
<br/>
<br/>
</body>
</html>