<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">
    <div th:replace="fragments :: navigation"></div>

    <div th:replace="fragments :: sortbytypes"></div>

    <h4>Click on Spot Name for more info</h4>

    <table class="table">
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Address</td>
            <td>Spot Type(s)</td>
        </tr>
        <tr th:each="spot : ${spots}">
            <td><a th:href="@{'/spot/' + ${spot.id}}" th:text="${spot.name}"></a></td>
            <td th:text="${spot.description}"></td>
            <td th:text="${spot.address}"></td>
            <td th:each="type : ${spot.spotTypes}"
                th:text="${type.name}"></td>
        </tr>
    </table>

</body>
</html>