<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">

</head>

<body class="container">
<div th:replace="fragments :: navigation"></div>

<div>
    Spots By Type:
    <a href="/spottype/1">Rails / Ledges</a> |
    <a href="/spottype/2">Stairs / Gaps</a> |
    <a href="/spottype/3">Manuals / Other</a>
</div>
<br/>

<table th:object="${aSpot}">
    <tr>
        <th> Name </th>
        <td th:text="*{name}"></td>
    </tr>
    <tr>
        <th> Description </th>
        <td th:text="*{description}"></td>
    </tr>

    <tr>
        <th> Address </th>
        <td th:text="*{address}"></td>
    </tr>
    <tr>
        <th>Security</th>
        <td th:text="*{security}"></td>
    </tr>
    <tr>
        <th>Spot Type</th>
        <td th:each="type : ${aSpot.spotTypes}"
            th:text="${type.name}"></td>
    </tr>
</table>

<div id="map" style="width:60%;height:300px;"></div>

    <script th:inline="javascript">
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {zoom: 14});
        var geocoder = new google.maps.Geocoder;

        var location = /*[[${aSpot.address}]]*/'default'

        geocoder.geocode({'address': location}, function(results, status) {
          if (status === 'OK') {
            map.setCenter(results[0].geometry.location);
            new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
            });
          } else {
            window.alert('Geocode was not successful for the following reason: ' +
                status);
          }
        });
      }
    </script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHu2rc07DmlSD9dUSQAoevnexR8DWXTgE&amp;callback=initMap">
</script>

</body>
</html>