<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">
    <div th:replace="fragments :: navigation"></div>
    <br/>
    <br/>
    <h4 class="center">Click on Spot Name for more info</h4>
    <br/>
    <div th:replace="fragments :: sortbytypes"></div>
    <br/>
    <br/>
    <table class="table center">
        <tr>
            <td>Name</td>
            <td>Description</td>
        </tr>
        <tr th:each="spot : ${spots}">
            <td><a th:href="@{'/spot/' + ${spot.id}}" th:text="${spot.name}"></a></td>
            <td th:text="${spot.description}"></td>
        </tr>
    </table>
</body>
</html>