<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <meta charset="UTF-8"/>
    <title>Stl Skate Spots</title>
</head>
<body>

<nav th:fragment="navigation" id="topnav" class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/spotlist">Spots</a></li>
            <li><a href="/parklist">Parks</a></li>
            <li><a href="/addspot">Add Spots</a></li>
            <li><a href="/addpark">Add Parks</a></li>
            <li><a href="/nearme">Near Me</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Sign Out</a></li>
            <li sec:authorize="isAnonymous()"><a href="/signup">Sign Up</a></li>
        </ul>
    </div>

    <script>
    $(function(){
        var url = window.location.href;

        $("#topnav a").each(function() {
                // checks if its the same on the address bar
            if(url == (this.href)) {
                $(this).closest("li").attr('id', 'active');
            }
        });
    });

    </script>
</nav>

<div th:fragment="sortbytypes">
    Spots By Type:
    <a href="/spotlist">All</a> |
    <a href="/spottype/1">Rails / Ledges</a> |
    <a href="/spottype/2">Stairs / Gaps</a> |
    <a href="/spottype/3">Manuals / Other</a>
</div>



</body>
</html>