<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">
<div th:replace="fragments :: navigation"></div>

<div>
    <form method="POST" style="max-width:400px;" id="form">
        <div class="form-group">
            <h1>Where are you?</h1>
            <input type="hidden" value="" id="hidden" name="hidden"/>
            <h5>This feature requires knowing your current location. If you are ok with this please press the
                button.</h5>
            <button type="button" class="btn buttonhover" id="currentlocation">Use current location</button>
            <span id="completed"> (May take a few seconds)</span>
        </div>
        <div class="form-group">
            <label>Search For</label>
            <select name="type">
                <option value="spot">Spots</option>
                <option value="park">Parks</option>
                <option value="both">Both</option>
            </select>
        </div>
        <div class="form-group">
            <label>Radius</label>
            <select name="radius">
                <option value="8046">5 Miles</option>
                <option value="16093">10 Miles</option>
                <option value="32186">20 Miles</option>
                <option value="48280">30 Miles</option>
            </select>
        </div>
        <div id="submit"></div>
    </form>
</div>


<script th:inline="javascript">
  document.getElementById("currentlocation").onclick = function() {
  var startPos;
  var geoOptions = {
    enableHighAccuracy: true
  }

  var geoSuccess = function(position) {
    startPos = position;
    var lonlat = startPos.coords.latitude.toString() + ', ' + startPos.coords.longitude.toString();
    document.getElementById('completed').innerHTML = " Completed";
    document.getElementById('hidden').setAttribute("value", lonlat);

    var submit = '<input class="btn buttonhover" type="submit"/>'
    $( "#submit" ).append(submit);

  };

  var geoError = function(error) {
    console.log('Error occurred. Error code: ' + error.code);
    // error.code can be:
    //   0: unknown error
    //   1: permission denied
    //   2: position unavailable (error response from location provider)
    //   3: timed out
  };

  navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);
};


</script>


</body>
</html>