<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<div th:replace="fragments :: navigation"></div>

<div id="bigmap"></div>

<script th:inline="javascript">
    /*<![CDATA[*/



      function initMap() {
        var map = new google.maps.Map(document.getElementById('bigmap'), {zoom: 11});
        var geocoder = new google.maps.Geocoder;

        var spots = /*[[${spots}]]*/
        var markers = new Array();

        for (var i=0; i < spots.length; i++){

        geocoder.geocode({'address': spots[i].address }, function(results, status) {
          if (status === 'OK') {
            map.setCenter(results[0].geometry.location);
            markers.push(results[0].geometry.location);
          } else {
            window.alert('Geocode was not successful for the following reason: ' +
                status);
          }
        });
        }

    function createMarker(lat, lon, html) {
        var newmarker = new google.maps.Marker({
            position: new google.maps.LatLng(lat, lon),
            map: map,
            title: html
        });

        newmarker['infowindow'] = new google.maps.InfoWindow({
                content: html
            });

        google.maps.event.addListener(newmarker, 'mouseover', function() {
            this['infowindow'].open(map, this);
        });
    }

    for (var i=0; i < spots.length; i++){

        createMarker(markers[i].lat, markers[i].lng, spots[i].name)
    }


      }
    /*]]>*/

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHu2rc07DmlSD9dUSQAoevnexR8DWXTgE&amp;callback=initMap">
</script>
</body>
</html>

