<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">
<div th:replace="fragments :: navigation"></div>

<div>
    <form method="POST" style="max-width:400px;">
        <div class="form-group">
            <label>Location</label>
            <input class="form-control" type="text" value="" id="location" name="location"/>
            <input type="hidden" value="" id="hidden" name="hidden"/>
            <h5> Or </h5>
            <button type="button" id="currentlocation">Use current location</button>
        </div>
        <div class="form-group">
            <label>Search For</label>
            <select name="type">
                <option value="spot">Spots</option>
                <option value="park">Parks</option>
                <option value="both">Both</option>
            </select>
        </div>
        <div class="form-group">
            <label>Radius</label>
            <select>
                <option value="10">10 Miles</option>
                <option value="20">20 Miles</option>
                <option value="30">30 Miles</option>
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" type="submit"/>
        </div>

    </form>
</div>


<script th:inline="javascript">
  document.getElementById("currentlocation").onclick = function() {
  var startPos;
  var geoOptions = {
    enableHighAccuracy: true
  }

  var geoSuccess = function(position) {
    startPos = position;
    var lonlat = startPos.coords.latitude.toString() + ', ' + startPos.coords.longitude.toString();
    document.getElementById('location').setAttribute("value", "Current Location");
    document.getElementById('hidden').setAttribute("value", lonlat);

  };

  var geoError = function(error) {
    console.log('Error occurred. Error code: ' + error.code);
    // error.code can be:
    //   0: unknown error
    //   1: permission denied
    //   2: position unavailable (error response from location provider)
    //   3: timed out
  };

  navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);
};


</script>


</body>
</html>